:root {
  --red-hat-font: "Red Hat Display", sans-serif;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: var(--red-hat-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--pale-blue);
}

button {
  width: 100%;
  border: none;
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--red-hat-font);
}

a {
  color: var(--bright-blue);
}

.card {
  max-width: 26em;
  text-align: center;
  margin: 1.5em;
  background-color: var(--white);
  border-radius: 1.2em;
  box-shadow: 0 0 1em .2em hsl(223, 47%, 88%);
}

.card .banner-img{
  width: 100%;
  border-radius: 1.2em 1.2em 0 0;
}

.text-section {
  padding: 2.5em;
  padding-top: 1em;
}

.card h1{
  font-size: 1.5rem;
  margin: .3em 0;
  color: var(--dark-blue);
}

.text {
  padding: .85em;
}

.description {
  line-height: 1.7;
  color: var(--desaturated-blue);
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  background-color: var(--very-pale-blue);
  border-radius: 1em;
}

.plan-selected {
  display: flex;
  align-items: center;
  gap: 1em;
}

.change-link {
  font-size: .85rem;
  font-weight: bold;
  transition: .2s ease-in-out;
}

.change-link:hover {
  text-decoration: none;
  color: hsl(250, 75%, 66%);
}

.plan-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
}

.plan-info small {
  font-size: .9rem;
  color: var(--desaturated-blue);
}

.payment-button {
  margin: 1.8em 0 .7em 0;
  background-color: var(--bright-blue);
  color: var(--white);
  border-radius: .8em;
  cursor: pointer;
  box-shadow: 0 1em 1.5em hsl(245, 75%, 87%);
  transition: background-color .25s ease-in-out;
}

.payment-button:hover {
  background-color: hsl(250, 75%, 66%)
}

.cancel-button {
  background-color: transparent;
  text-decoration: none;
  display: block;
  padding: 1.5em 0 .3em 0;
  font-weight: bold;
  color: var(--desaturated-blue);
  transition: color .25s ease-in-out;
}

.cancel-button:hover {
  color: var(--dark-blue);
}





footer {
  position: absolute;
  bottom: 0;
  background-color: var(--white);
  padding: .25em 1em;
  border-radius: 1em;
  box-shadow: 0 0 .5em hsl(224, 23%, 70%);

}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--bright-blue);
}


@media (max-width: 24em) {

  body {
    background-image: url('/images/pattern-background-mobile.svg');
  }


  .text-section {
    padding: 1.5em;
    padding-top: .5em;
  }

  .cancel-button {
    padding: .8em 0 .3em 0;
  }
}